<p-panel header="System Properties">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-6 p-lg-3">
            System
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            : {{prop.system_name}}
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            Version
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            : {{prop.system_version}}
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            Port
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            : {{prop.app_port}}
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            Database Username
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            : {{prop.db_user}}
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            Database Password
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            : {{prop.db_password}}
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            Connection URL
        </div>
        <div class="p-col-12 p-md-6 p-lg-9">
            : {{prop.db_url}}
        </div>
    </div>
</p-panel>