.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    padding-top: 8px;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    /*background-color: #3dc895;*/
    background-color: rgb(22, 48, 97);
}

.app-logo {
    background-image: url("../../../assets/DENTAL-LOGO3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

.app-name {
    color: whitesmoke;
    position: absolute;
    margin-top: 8px;
    margin-left: 40px;
}

.app-name b {
    padding-top: 10px;
}

.header {
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
}

.layout {
    margin: 0 0;
}

.page-route {
    padding: 0.5em 0.5em;
    margin-left: 240px;
}

.padding-page {
    padding: 16px;
}

.logout-button {
    float: right;
}

.account-button {
    float: right;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 53px;
    left: 0;
    background-color: #99dfdc;
    overflow-x: hidden;
    color: white;
}

.sidenav a {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    font-size: 14px;
    /*color: black;*/
    color: rgb(22, 48, 97);
    display: block;
    /*border-bottom: black;*/
    border-bottom: rgb(22, 48, 97);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav div {
    /*background-image: linear-gradient(to right, yellowgreen, #3dc895);*/
    background-image: linear-gradient(to right, rgb(22, 48, 97), #3dc895);
    height: 120px;
    padding-left: 16px;
    padding-top: 10px;
    padding-right: 16px;
}

.avatar-dp {
    /*margin: 0 auto;*/
    width: fit-content;
}

.profile-btn {
    right: 0;
    float: right;
    margin-left: 5px;
}

.profile-name {
    margin-top: 10px;
    width: 100%;
}

.bottom-button {
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    /* width less than 780px */
    div.sidenav {
        display: none;
    }
    div.page-route {
        margin-left: 0px;
        padding-bottom: 80px;
    }
    div.bottomnav {
        display: block;
    }
    label.app-name {
        display: none;
    }
    #logoutbtn {
        display: none;
    }
    div.app-logo {
        display: block;
        margin: auto;
        position: relative;
        height: 40px;
        width: 40px;
        margin-bottom: 8px;
    }
}

.bottomnav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 998;
    padding-top: 8px;
    overflow-x: hidden;
    background-color: #99dfdc;
    display: none;
}

.bottom-menu {
    margin-left: 10px;
}

p-sidebar a {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    font-size: 14px;
    /*color: black;*/
    color: rgb(22, 48, 97);
    display: block;
    /*border-bottom: black;*/
    border-bottom: rgb(22, 48, 97);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}